.data-section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  gap: 1em;
}

.data-section__dataset {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.data-section__button {
  padding: 1em 1.5em;
  background-color: var(--bg-color--primary);
  color: var(--accent-color);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1rem;
  border: 2px solid var(--accent-color);
  cursor: pointer;
  transition: all 0.3s ease;
  max-width: 100px;
}

.data-section__button:hover,
.data-section__button:focus {
  color: var(--bg-color--primary);
  background-color: var(--accent-color);
  transform: scale(110%);
}
