.header {
  background-color: var(--accent-color);
  display: flex;
  flex-direction: column;
  padding: 2em 0;
}

.header__logo {
  max-width: 80%;
  margin: 0 auto;
  fill: var(--bg-color--primary);
}

.header__heading {
  padding: 1em 0 0.7em;
  font-size: 2rem;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  margin: 0 auto;
  color: var(--bg-color--primary);
}

@media (min-width: 1000px) {
  .header__logo {
    max-width: 900px;
  }

  .header__heading {
    font-size: 3rem;
  }
}
