.modal {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 5em;
  background-color: hsl(0, 0%, 100%);
  margin: 0 auto;
  border-radius: 15px;
  box-shadow: 5px 5px 5px grey;
  z-index: 2;
}

.modal__text {
  padding: 2em 0;
  margin: 0 auto;
}

.modal__screen {
  position: absolute;
  display: flex;
  align-items: center;
  background-color: hsla(0, 0%, 0%, 0.4);
  height: 100%;
  width: 100%;
  z-index: 2;
}

.modal__button {
  padding: 1em 1.5em;
  background-color: var(--bg-color--primary);
  color: var(--accent-color);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1rem;
  border: 2px solid var(--accent-color);
  cursor: pointer;
  transition: all 0.3s ease;
}

.modal__button:hover,
.modal__button:focus {
  color: var(--bg-color--primary);
  background-color: var(--accent-color);
  transform: scale(110%);
}
