.wordfield {
  background-color: var(--bg-color--secondary);
  font-size: 1.3rem;
  height: 30em;
  max-height: 30vh;
  min-width: 50%;
  overflow-y: scroll;
  border: 2px solid var(--accent-color);
  padding: 10px;
}

.wordfield__text {
  cursor: default;
  user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
}

.wordfield__text--right {
  color: green;
}

.wordfield__text--wrong {
  color: red;
  text-decoration: line-through;
}

.wordfield::-webkit-scrollbar {
  width: 0.4vw;
}

.wordfield::-webkit-scrollbar-track {
  background: transparent;
}

.wordfield::-webkit-scrollbar-thumb {
  background: var(--accent-color);
}

@supports (scrollbar-color: var(--accent-color) transparent) {
  * {
    scrollbar-color: var(--accent-color) transparent;
    scrollbar-width: thin;
  }
}
